/* Universal selector */

* {
    /* margin: 0;
    padding: 0; */
    line-height: 1.2rem;
}

/* Type Selector Or Element Selector */
/* header,
h2 {
    background-color: red;
    color: white;
    text-transform: capitalize;
    text-align: center;
} */

/* class selectors */
/* .news-article {
    border: 1px solid red;
    color: green;
} */

/* ID Selector */
/* #article1 {
    background-color: pink;
} */

/* How CSS Styles are applied */

/* * {
    background-color: aqua;
}

/* .news-article {
    color: pag;
} */

/* article {
    background-color: yellow;
    padding: 10px;
} */

/* div p {
    background-color: red;
} */

/* 
.section1 article p {
    background-color: blue;
} */

/* h2+article {
    background-color: orange;
/* }  */
/* 
h1,
h2 {
    color: blue;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;

    text-decoration: underline;
    text-align: center;
    background: greenyellow;

}

article.news-article {
    back: yellow 
} */

/* [for=Y] {
    background-color: aqua;
} */

/* Pseudo elements */

/* h2::before {
    content: "**";
}

h2::after {
    content: "]";
} */

/* Pseudo Classes */

/* li:hover {
    background-color: aqua;
    text-align: end;
}

input:focus {
    background-color: red;
}

input:required {
    background-color: yellow;
} */
/* 
td:nth-child(odd) {
    background-color: gray;
}

table,
td {

    border: 1px solid red;

}

article:not(.news-article) {
    background-color: yellow;
} */

section {
    border: 3px solid;

    /* padding-left: 14px;
    padding-right: 11px;
    padding-top: 13px;
    padding-bottom: 13px; */

    /* margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px; */

    padding: 13px 11px 14px;
    margin: 40px;
}