* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --container-bg: #388E3C;
    --header-bg: #8BC34A;
    --nav-gb: #C2185B;
    --main-bg: #757575;
    --aside-bg: #4b15ec;
    --footer-bg: #E91E63;
}

body {
    color: white;
    /* height: 100vh; */
}

.container {
    /* background-color: var(--container-bg); */
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;

    outline: auto;
    margin: 1rem;
    padding: 0.5rem;
    height: 70vh;

    grid-template-areas:
        'header'
        'nav'
        'main'
        'aside'
        'footer'
    ;

    .header {
        background-color: var(--header-bg);
        grid-area: header;
    }

    .nav {
        background-color: var(--nav-gb);
        grid-area: nav;
    }

    .aside {
        background-color: var(--aside-bg);
        grid-area: aside;
    }

    .main {

        grid-area: main;

        background-color: var(--main-bg);
        /* grid-column: 2/3; */

        gap: 0.2rem;
        text-align: center;

        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;

        .box:last-child {
            grid-column: span 2;
        }

        .box {
            background-color: aqua;
            min-width: 300px;
        }
    }

    .footer {
        background-color: var(--footer-bg);
        grid-area: footer;
    }

}

@media screen and (min-width : 40rem) {
    .container {
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
            'header header'
            'nav nav'
            'aside main'
            'footer footer'
        ;

        .main {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr;

            .box:last-child {
                grid-column: span 2;
            }

        }
    }
}